@import "tailwindcss";

@font-face {
  font-family: 'DungGeunMo';
  src: url('/fonts/DungGeunMo.ttf');
}

@theme {
  --color-primary: #3D4B63;
  --color-secondary: #E0EEFF;
  --color-background: #536583;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #AAAAAA;
  --color-darkgray: #515151;
  --color-modal: rgba(0, 0, 0, 0.5);

  --color-normal: #D9D9D9;
  --color-rare: #00AAFF;
  --color-epic: #A100FF;
  --color-unique: #FFEA00;
  --color-legendary: #00FF2A;
  --color-warning: #E5002C;

  --text-heading1: 2.4rem;
  --text-heading2: 2.2rem;
  --text-heading3: 2rem;
  --text-heading4: 1.8rem;
  --text-body1: 1.6rem;
  --text-body2: 1.4rem;
  --text-detail: 1.2rem;

  --font-primary: 'DungGeunMo';
  --container-base: 480px;
  --radius-sm: 1rem;
}