@keyframes horseRun {
  100% {
    background-position-x: -546px;
  }
}

.horse {
  animation: horseRun 0.5s steps(7) infinite;
  animation-play-state: paused; /* 기본 멈춤 */
}
.horse.moving {
  animation-play-state: running; /* 이동 중에만 실행 */
}
